<!DOCTYPE html>
<html ng-app="testHarnessApp">
  <head>

    <script type="text/javascript" src="js/jasmine/lib/jasmine-2.0.0/jasmine.js"></script>
    <script type="text/javascript" src="js/jasmine/lib/jasmine-2.0.0/jasmine-html.js"></script>
    <script type="text/javascript" src="js/jasmine/lib/jasmine-2.0.0/boot.js"></script>

    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/mockJapi.js" type="text/javascript"></script>
    <script src="js/testsArray.js" type="text/javascript"></script>
    <script src="js/testHarnessApp.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="js/jasmine/lib/jasmine-2.0.0/jasmine.css"> 
  </head>
  <body ng-controller="testCtrl">
    <nav>
      <!-- 
      <button ng-click="runTests()" ng-disabled="testsDisabled">Run Tests</button>
      -->
      <button onClick="window.location.reload()">Refresh Page</button>
    </nav>
    <div class="container">
      <!-- 
      <div ng-repeat="(key, test) in tests">
        <div id="testContainer" ng-class="{pass: test.succeeded === true, fail: test.succeeded === false, pending: test.succeeded === undefined}">
          <div id="textStuff">
            <strong>{{test.name}}</strong><br />
            Call: {{test.functionCall}} Arguments: {{test.arguments}}<br />
            Actual Return: {{test.actual}}<br />
            Expected Return: {{test.expected}}
          </div>
          <div id="prettyPicture">
            <img ng-show="test.succeeded == true" src="images/green-check-mark.png">
            <img ng-show="test.succeeded == false" src="images/red-fail.png">
          </div>
          <div class="clearBoth"></div>
        </div>
      </div>
      -->
    </div>
  </body>
</html>
